include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include midtrans_payment *.css
recursive-include midtrans_payment *.csv
recursive-include midtrans_payment *.html
recursive-include midtrans_payment *.ico
recursive-include midtrans_payment *.js
recursive-include midtrans_payment *.json
recursive-include midtrans_payment *.md
recursive-include midtrans_payment *.png
recursive-include midtrans_payment *.py
recursive-include midtrans_payment *.svg
recursive-include midtrans_payment *.txt
recursive-exclude midtrans_payment *.pyc